* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  background-color: rgba(1, 1, 1, 0.814);
  color: white;
}

.main-container {
  margin-top: 35px;
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 350px;
  gap: 35px;
  background-color: gray;
  height: 400px;
  width: 400;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.clock-wrapper {
  width: 180px;
  height: 180px;
  border-radius: 55%;
  border: 4px dotted rgb(171, 144, 144);

  background-color: white;
  /* font-size: 16px; */
  font-weight: bold;
  color: black;
  cursor: pointer;
  padding: 19px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.btn-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
}

.btn-wrapper button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(92, 72, 201);
  background-color: rgb(89, 96, 237);
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.btn-wrapper button:hover {
  background-color: rgb(6, 9, 186);
  color: white;
}
